<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}'s Homepage'</title>
  </head>
  <body>
    <h1>{{name}}</h1>

    <p>{{email}}</p>

    <p><img src="{{picture_url}}"></p>

    {{#if login}}
      {{> menu}}
    {{else}}
      {{> login}}
    {{/if}}
  </body>
</html>
